<!DOCTYPE html><html lang="en">

 <head>
  <title>Translate Helper</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="shortcut icon" href="/">
  <script src="script.js" type='text/javascript'></script>
 </head>

 <body>
   <div class="container" id='content'>
    <a href="/">Clear</a>

    <div class="row" id="header-row">
      <h3 class="left col-sm-6">Input Text</h3>
      <div class="right col-sm-6">
        <div id="panel-selection">
            <button type="button" class="select">Romaji</button>
            <button type="button" class="select">Furigana</button>
            <button type="button" class="select" onclick="copy()">Copy</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="left col-sm-6">
        <form id="rawtext-form" action="/process" method="POST">
          <textarea id="rawtext-textarea" name="rawText" rows='10' cols='50'><%= textAreaInput %></textarea>
          <div class="process-button"><button type="submit" id="process">Process</button></div>
        </form>
      </div>
      <div class="right col-sm-6">
        <div id='romaji'><%- romaji %></div>
      </div>
    </div>

    <% if (textGlossing.length > 0) { %>
    <div id='textGlossing'>
      <table id="textGlossingTable">
          <thead>
              <tr>
                  <td class='col'>Word</td>
                  <td class='col'>Hiragana</td>
                  <td class='col1'>Part of Speech</td>
                  <td class='col2'>Meaning</td>
              </tr>
          </thead>
          <tbody>
            <% textGlossing.forEach(function(row) { %>
              <% row.defs.forEach(function(def) { %>
                <tr>
                  <td class='col'><%= row.word %></td>
                  <td class='col'><%= row.hiragana %></td>
                  <td class='col1'><%= def.pos %></td>
                  <td class='col2'><%= def.definition %></td>
                </tr>
              <% }); %>
            <% }); %>
          </tbody>
      </table>
    </div>
    <% } %>

<!--    <div id='quickSearch'>-->
<!--      <form class="row" id="quickSearch-form" action="/lookup" method="POST">-->
<!--        <textarea class="left col-sm-10" id="quickSearch-textarea" name="query" rows='1' placeholder="Quick word/phrase lookup"><%= queryInput %></textarea>-->
<!--        <div class="search-button right col-sm-2"><button type="submit" id="search">Lookup</button></div>-->
<!--      </form>-->
<!--      <% if (queryResult.length > 0) { %>-->
<!--      <table id="quickSearchTable">-->
<!--          <thead>-->
<!--              <tr>-->
<!--                  <td class='col'>Word</td>-->
<!--                  <td class='col'>Hiragana</td>-->
<!--                  <td class='col1'>Part of Speech</td>-->
<!--                  <td class='col2'>Meaning</td>-->
<!--              </tr>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--            <% queryResult.forEach(function(row) { %>-->
<!--              <% row.defs.forEach(function(def) { %>-->
<!--                <tr>-->
<!--                  <td class='col'><%= row.word %></td>-->
<!--                  <td class='col'><%= row.hiragana %></td>-->
<!--                  <td class='col1'><%= def.pos %></td>-->
<!--                  <td class='col2'><%= def.definition %></td>-->
<!--                </tr>-->
<!--              <% }); %>-->
<!--            <% }); %>-->
<!--          </tbody>-->
<!--      </table>-->
<!--      <% } %>-->
<!--    </div>-->

   </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 </body>

</html>
