<!DOCTYPE html><html lang="en">

 <head>
  <title>Translate Helper</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="shortcut icon" href="/">
 </head>

 <body>
   <div class="container text-center" id='content'>
    <a href="/">Clear</a>

    <div class="row">
      <div class="left col-sm-6">
        <h3>Input Text</h3>
        <form id="rawtext-form" action="/process" method="POST">
            <textarea id="rawtext-textarea"  name="rawText" rows='10' cols='50'><%= textAreaInput %></textarea>
            <div class="process-button"><button type="submit" id="process">Process</button></div>
        </form>
      </div>
      <div class="right col-sm-6">
        <h3>Romaji</h3>
        <div name="text" id='romaji'><%- romaji %></div>
      </div>
    </div>

    <div class="container" id='textGlossing'>
      <h3>Text Glossing</h3>
        <table id="textGlossingTable">
            <thead>
                <tr>
                    <td class='col'>Word</td>
                    <td class='col'>Hiragana</td>
                    <td class='col1'>Part of Speech</td>
                    <td class='col2'>Meaning</td>
                </tr>
            </thead>
            <tbody>
            <% if (textGlossing.length > 0) { %>
              <% textGlossing.forEach(function(row) { %>
                <% row.defs.forEach(function(def) { %>
                  <tr>
                    <td class='col'><%= row.word %></td>
                    <td class='col'><%= row.hiragana %></td>
                    <td class='col1'><%= def.pos %></td>
                    <td class='col2'><%= def.definition %></td>
                  </tr>
                <% }); %>
              <% }); %>
            <% } %>
            </tbody>
        </table>
    </div>

   </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 </body>

</html>
